<!DOCTYPE html >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<title>title</title>
</head>

<body bgcolor="#FFFFFF">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
		<tr>
			<td>
				<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
					<tr>
						<td>
							<table width="100%" height="7" border="0" cellspacing="0" bgcolor="#55caf5" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
							<tr>
								<td align="center">									
										<p  width="110" height="80" border="0" alt="" style="display:inline-block;display: inline-block;    color: #55caf5; font-size: 27px; font-weight: 600; font-family: cursive;" >Go holiday </p>									
								</td>
							</tr>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									<a href="http://google.co.th">
										<img src="http://www.t-booking.com/pic/gallerydayicon/1383970834.jpg" width="100%" height="300" border="0" alt=""/>
									</a>
								</td>
							</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<h4 style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300" >Go Holiday :แจ้งที่นั่งเต็ม</h4>
									</td>
								</tr>
								<tr>
									<td>
										<p style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300;color:#000000;font-size:14px;" >วันที่: <font <font color="#55caf5">{{ondate}}</font>  หรัสรอบ  : <font color="#55caf5">{{roundid}}</font></p>
									</td>
								</tr>
								<tr>
									<td>
										<p style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300;color:#000000;font-size:14px;">ที่นั่งเต็ม ต้องการที่นั่งเพิ่มอีก <font color="#55caf5">{{allotplus}}</font> ที่นั่ง  </p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<p style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300;color:#000000;font-size:14px;" ><b>รหัส บุ๊กกิ้ง  <font color="#55caf5">{{idbooking}}</font></b></p>
									</td>
								</tr>
								<tr>
									<td>
										<p style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300;color:#000000;font-size:14px;" ><b>ชื่อ Product : <font color="#55caf5">{{name}}</font></b></p>
									</td>
								</tr>
								<tr>
									<td>
										<p style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300;color:#000000;font-size:14px;" ><b>วันที่เดินทาง Date <font color="#55caf5">{{ondate}}</font> เวลา: <font color="#55caf5">{{time}}</font></b></p>
									</td>
								</tr>
								
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<p style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300;color:#000000;font-size:14px;" >มีอะไรสงสัย สามารถติดต่อได้ที่ เบอร์ 0872934571 หรือ  ozaclever@gmail.com.</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" height="20" border="0" cellspacing="0" cellpadding="0">
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td>
										<p style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300;color:#000000;font-size:14px;margin-bottom:5px;" >ขอแสดงความนับถือ</p>
									</td>
								</tr>
								<tr>
									<td>
										<p style="font-family: ‘Lobster’, Arial, sans-serif; font-weight: 300;color:#000000;font-size:14px;margin:0;" >Go Holiday</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

</body>
</html>
